.timer {
    font-size: 20px;
}

.problem {
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: 18px;
}

.answer {
    margin-bottom: 10px;
}

.button-wrapper {
    margin-top: 10px;
}

.button {
    font-size: medium;
}